extends ./base.pug

block content
    form.writeForm(action="/createBoard" method="POST")
        .writeWrapper
            .writeWrapper__quire  Title
            .writeWrapper__content 
                input(type="text" name="title")    

        .writeWrapper
            .writeWrapper__quire  Author
            .writeWrapper__content 
                input(type="text" name="author") 

        .writeWrapper
            .writeWrapper__quire  Desc
            .writeWrapper__content 
                input(type="text" name="description")
                
        .buttonArea
            .descWrapper
                input(type="submit" value="WRITE")
    form.listForm(action="/" method="GET")
        input(type="submit" value="LIST")